

        <div class="main-content">

            {{>header}}

            <div id="about-pic">

                <img src="/images/andrew.png" alt="Picture of Andrew">
                <small id="caption">Pictured: {{ name }}</small>

            </div>

        </div>

        {{>footer}}