

        <div class="main-content">

            {{>header}}

            <p>This site uses data from <a href="https://www.mapbox.com">Mapbox</a> and <a href="https://weatherstack.com">Weatherstack</a>.<br>The instructor of the course is pictured below.</p>

            <div id="about-pic">

                <img src="/images/andrew.png" alt="Picture of Andrew">
                <small id="caption">Pictured: {{ name }}</small>

            </div>

        </div>

        {{>footer}}