

        <div class="main-content">

            {{>header}}

            <p>Use this site to get your weather!</p>

            <form action="">
                <input type="text" placeholder="Location">
                <button>Search</button>
            </form>

            <div id="weather-messages">
                <p id="message-one"></p>
                <p id="message-two"></p>
            </div>

        </div>

        {{>footer}}

        <script src="/js/app.js"></script>